<%- include('partials/header.ejs') %>


<!--================login_part Area =================-->
<section class="login_part padding_top">
  <div class="container h-100">
    <div class="row align-items-center justify-content-center h-100">
      <div class="col-12 col-md-6">
        <div class="login_part_form m-auto">
          <div class="login_part_form_iner ml-5">
            <h3>
              Forgot Password
            </h3>
            <form class="row contact_form">
              <div class="col-md-12 form-group p_star">
                <input
                  type="email"
                  class="form-control"
                  id="email"
                  name="email"
                  value=""
                  placeholder="Your Registered Email"
                  required
                />
              </div>
              <div class="col-md-12 form-group p_star">
                <input
                  type="password"
                  class="form-control"
                  id="password"
                  name="password"
                  value=""
                  placeholder="Password"
                />
              </div>
              <div class="col-md-12 form-group p_star">
                <input
                  type="password"
                  class="form-control"
                  id="password2"
                  name="password2"
                  value=""
                  placeholder="Confirm Password"
                />
              </div>
              <div class="col-md-12 form-group">
                <button type="button" id="forgot_pass" class="btn_3">Create Profile</button>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!--================login_part end =================-->

<script>


$('#forgot_pass').click((e)=>{
  e.preventDefault();
  forgotPasswordValidation()
})

  function forgotPasswordValidation() {  
  var pw1 = document.getElementById("password").value;  
  var pw2 = document.getElementById("password2").value; 
  var email = document.getElementById("email").value;  

  if(email == "") {  
    //  document.getElementById("email").innerHTML = "**Fill the password please!";  
     $("<p style='color:red'>Email is required</p>").insertAfter("#email");
     return false;  
  }  
  if(pw1 == "") {  
    //  document.getElementById("email").innerHTML = "**Fill the password please!";  
     $("<p style='color:red'>please enter the password to be changed</p>").insertAfter("#password");
     return false;  
  }  
  if(pw2 == "") {  
    //  document.getElementById("email").innerHTML = "**Fill the password please!";  
     $("<p style='color:red'>please confirm your password</p>").insertAfter("#password2");
     return false;  
  }  
   
  if(pw1 != pw2)  
  {   
    customAlert("Passwords did not match","error");  
    return false;
  }
emailCheck(email,pw1);
}
function emailCheck(email,password) {
 $.ajax({
  method: "post",
  url: "/forgot-password",
  data: {
    email,
    password,
  },
}).then((response)=>{
if(response.stat==='success'){
  location.href='/signin';
}else{
  customAlert(response.msg,response.stat); 
}
});
}
</script>

<%- include('partials/footer.ejs') %>
