<!-- footer start  -->

<footer class="footer_part">
    <div class="container">
        <div class="row justify-content-around">
            <div class="col-sm-6 col-lg-2">
                <div class="single_footer_part">
                    <h4>Top Products</h4>
                    <ul class="list-unstyled">
                        <li><a href="">Managed Website</a></li>
                        <li><a href="">Manage Reputation</a></li>
                        <li><a href="">Power Tools</a></li>
                        <li><a href="">Marketing Service</a></li>
                    </ul>
                </div>
            </div>
            <!-- <div class="col-sm-6 col-lg-2">
                <div class="single_footer_part">
                    <h4>Quick Links</h4>
                    <ul class="list-unstyled">
                        <li><a href="">Jobs</a></li>
                        <li><a href="">Brand Assets</a></li>
                        <li><a href="">Investor Relations</a></li>
                        <li><a href="">Terms of Service</a></li>
                    </ul>
                </div>
            </div>
            <div class="col-sm-6 col-lg-2">
                <div class="single_footer_part">
                    <h4>Features</h4>
                    <ul class="list-unstyled">
                        <li><a href="">Jobs</a></li>
                        <li><a href="">Brand Assets</a></li>
                        <li><a href="">Investor Relations</a></li>
                        <li><a href="">Terms of Service</a></li>
                    </ul>
                </div>
            </div>
            <div class="col-sm-6 col-lg-2">
                <div class="single_footer_part">
                    <h4>Resources</h4>
                    <ul class="list-unstyled">
                        <li><a href="">Guides</a></li>
                        <li><a href="">Research</a></li>
                        <li><a href="">Experts</a></li>
                        <li><a href="">Agencies</a></li>
                    </ul>
                </div>
            </div> -->
            <div class="col-sm-6 col-lg-4">
                <div class="single_footer_part">
                    <h4>Newsletter</h4>
                    <p>Heaven fruitful doesn't over lesser in days. Appear creeping
                    </p>
                    <div id="mc_embed_signup">
                        <form target="_blank"
                            action="https://spondonit.us12.list-manage.com/subscribe/post?u=1462626880ade1ac87bd9c93a&amp;id=92a4423d01"
                            method="get" class="subscribe_form relative mail_part">
                            <input type="email" name="email" id="newsletter-form-email" placeholder="Email Address"
                                class="placeholder hide-on-focus" onfocus="this.placeholder = ''"
                                onblur="this.placeholder = ' Email Address '">
                            <button type="submit" name="submit" id="newsletter-submit"
                                class="email_icon newsletter-submit button-contactForm">subscribe</button>
                            <div class="mt-10 info"></div>
                        </form>
                    </div>
                </div>
            </div>
        </div>

    </div>
    <div class="copyright_part">
        <div class="container">
            <div class="row">
                <div class="col-lg-8">
                    <div class="copyright_text">
                        <P>
                            <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                            Copyright &copy;
                            <script>document.write(new Date().getFullYear());</script> All rights reserved | This
                            template is made with <i class="ti-heart" aria-hidden="true"></i> by <a
                                href="https://colorlib.com" target="_blank">Colorlib</a>
                            <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                        </P>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="footer_icon social_icon">
                        <ul class="list-unstyled">
                            <li><a href="#" class="single_social_icon"><i class="fab fa-facebook-f"></i></a></li>
                            <li><a href="#" class="single_social_icon"><i class="fab fa-twitter"></i></a></li>
                            <li><a href="#" class="single_social_icon"><i class="fas fa-globe"></i></a></li>
                            <li><a href="#" class="single_social_icon"><i class="fab fa-behance"></i></a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>
<!--::footer_part end::-->
<!-- axios  -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.19.0/axios.min.js"></script>
<!-- Sweetalert  -->
<script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<!-- sweetalert for actions -->
<script src="/user/js/customSweetAlert.js"></script>
<!-- deveoper axios functions -->
<script src="/user/js/dev.js"></script>
<!-- jquery plugins here-->
<!-- jquery -->
<script src="/user/js/jquery-1.12.1.min.js"></script>
<!-- popper js -->
<script src="/user/js/popper.min.js"></script>
<!-- bootstrap js -->
<script src="/user/js/bootstrap.min.js"></script>
<!-- easing js -->
<script src="/user/js/jquery.magnific-popup.js"></script>
<script src="/user/js/lightslider.min.js"></script>
<!-- swiper js -->
<script src="/user/js/swiper.min.js"></script>
<!-- swiper js -->
<script src="/user/js/masonry.pkgd.js"></script>
<!-- particles js -->
<script src="/user/js/owl.carousel.min.js"></script>
<script src="/user/js/jquery.nice-select.min.js"></script>
<!-- slick js -->
<script src="/user/js/slick.min.js"></script>
<script src="/user/js/jquery.counterup.min.js"></script>
<script src="/user/js/waypoints.min.js"></script>
<script src="/user/js/contact.js"></script>
<script src="/user/js/jquery.ajaxchimp.min.js"></script>
<script src="/user/js/jquery.form.js"></script>
<script src="/user/js/jquery.validate.min.js"></script>
<script src="/user/js/mail-script.js"></script>
<script src="/user/js/stellar.js"></script>
<script src="/user/js/price_rangs.js"></script>
<!-- custom js -->
<script src="/user/js/custom.js"></script>
</body>

</html>